<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <h2><a href="/user/fazerAposta">Fazer Novo Jogo</a></h2>
    <h2><a href="/user/meusJogos">Buscar Meus Jogos</a></h2>
    <h2><a href="/user/jogosPassados">Ver Jogos Passados | Ver Se Ganhei</a></h2>
</body>
</html>